<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <header class="w-100 h-25 d-flex justify-content-center align-items-center border-bottom bg-dark gap-2">
        <img id="img-title" th:src="@{/img/createAccount.svg}">
        <h1 class="text-light display-5">Creación de Usuario</h1>
    </header>

    <main class="w-100 h-100 container my-4 border rounded p-4">
        <p><a href="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Volver</a></p>
        <h2>Ingrese la información para crear una cuenta</h2>
        <form class="d-flex flex-wrap justify-content-evenly">
            <div class="d-flex flex-column ancho-flex my-2">
                <label for="nombre">Nombres</label>
                <input class="form-control" id="nombre" placeholder="Ingrese sus Nombres" required>
            </div>
            <div class="d-flex flex-column ancho-flex my-2">
                <label for="apellidos">Apellidos</label>
                <input class="form-control" id="apellidos" placeholder="Ingrese sus Apellidos" required>
            </div>
            <div class="d-flex flex-column ancho-flex my-2">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input required type="date" class="form-control" id="fechaNacimiento" placeholder="Ingrese sus Apellidos">
            </div>
            <div class="d-flex flex-column ancho-flex my-2">
                <label for="genero">Género</label>
                <select id="genero" class="form-control" required>
                    <option>Masculino</option>
                    <option>Femenino</option>
                    <option>Otro</option>
                </select>
            </div>
            <div class="d-flex flex-column ancho-flex my-2">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese su Email" required>
            </div>
            <div class="d-flex flex-column ancho-flex my-2">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Ingrese su Contraseña" required>
            </div>
            <div class="d-flex flex-column ancho-flex my-2 align-items-center">
                <button type="submit" class="btn btn-success w-50">Crear Cuenta</button>
            </div>
        </form>
    </main>

    <footer class="w-100">

    </footer>
</body>
</html>