<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Ventana de home para aplicacion de tienda web</h1>

    <!-- Maquetar Vista Home:
     1. Poner el Header.
     2. Crear main donde:
         2.1. Crear categoria de productos.
         2.2. Imagenes de productos
         2.3. Cada imagen va a tener un título, precio y descripción del producto
     3. Crear Footer que contenga:
         3.1. Nombre de la tienda
         3.2. Enlaces a las redes sociales (Puede redireccionar a cualquier página)
     -->

    <!--

        1. Crear Repositorio local: git init
        2. Ver el estado de nuestro repositorio: git status
        3. Agregar todos los archivos del proyecto al versionamiento: git add .
        4. Realizar commit añadiendo archivos y mensaje: git commit -am "Mensaje"
        5. Ver los commits realizados: git log
        6. Volver a un commit anterior a la FUERZA: git reset --hard id_commit

        -- Enalazar (nuevo) proyecto con repositorio remoto
        echo "# capacitacionJava" >> README.md
        git init
        git add README.md
        git commit -m "first commit"
        git branch -M main
        git remote add origin -ruta-del-repositorio-
        git push -u origin main

        7. Subir cambios de commit a repositorio remoto: git push origin -nombre-de-la-rama-

     -->

</body>
</html>