<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body class="position-absolute w-100 h-100 bg-primary">
    <div class="bg-dark w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="gap-4 w-50 h-75 d-flex flex-column justify-content-evenly align-items-center">
            <img style="filter: invert(1)" class="h-25" src="https://th.bing.com/th/id/R.d334e18fc39188f95d0f97e93757fce6?rik=YyGh0I3ai2O7Cw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_337531.png&ehk=vOUxpk7WqUPnWI%2ft0dfXzjVhVSJ7AwHxX3v5oPKEsZs%3d&risl=&pid=ImgRaw&r=0">
            <form method="post" th:object="${person}" th:action="@{/login}" class="bg-light d-flex border rounded w-75 h-100 p-3 flex-column align-items-center gap-3 justify-content-center">
                <h1 class="display-5">Login</h1>
                <input th:field="*{email}" id="email" class="form-control w-75" type="email" placeholder="Email">
                <input th:field="*{password}" id="password" class="form-control w-75" type="password" placeholder="Contraseña">
                <button type="submit" class="btn btn-primary w-50">Iniciar</button>
                <a class="btn btn-dark w-50" href="/createAccount">Crear Cuenta</a>
            </form>
        </div>
    </div>
</body>
</html>